body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:650px;
}
#u346 {
  position:absolute;
  left:500px;
  top:50px;
  width:365px;
  height:650px;
}
#u347 {
  position:absolute;
  left:2px;
  top:317px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:650px;
}
#u348 {
  position:absolute;
  left:950px;
  top:50px;
  width:365px;
  height:650px;
}
#u349 {
  position:absolute;
  left:2px;
  top:317px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:650px;
}
#u350 {
  position:absolute;
  left:50px;
  top:50px;
  width:365px;
  height:650px;
}
#u351 {
  position:absolute;
  left:2px;
  top:317px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
