<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<string>0</string>
	<key>constant</key>
	<dict>
		<key>slider_min</key>
		<string>#F0F0F000</string>
		<key>slider_max</key>
		<string>#FFFF0000</string>
		<key>left_tabbar_cell_title</key>
		<string>0XFF00FF11</string>
		<key>table_bg</key>
		<string>0XFF000000</string>
		<key>receipe_text</key>
		<real>4294967295</real>
	</dict>
	<key>detail</key>
	<string>Night</string>
	<key>id</key>
	<integer>2</integer>
	<key>name</key>
	<string>night</string>
	<key>predefine</key>
	<true/>
	<key>res</key>
	<dict>
		<key>back</key>
		<string></string>
		<key>browser_active</key>
		<string></string>
		<key>browser</key>
		<string></string>
		<key>downloads_active</key>
		<string></string>
		<key>downloads-full_active</key>
		<string></string>
		<key>downloads-half_active</key>
		<string></string>
		<key>downloads</key>
		<string></string>
		<key>files_active</key>
		<string></string>
		<key>files</key>
		<string></string>
		<key>hardware</key>
		<string></string>
		<key>home_active</key>
		<string></string>
		<key>home</key>
		<string></string>
		<key>itunes_active</key>
		<string></string>
		<key>itunes</key>
		<string></string>
		<key>minimized_film_default_no_mask</key>
		<string></string>
		<key>minimized_film_default</key>
		<string></string>
	</dict>
	<key>resolution</key>
	<string>640*960</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
