body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u396 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u397 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398 {
  position:absolute;
  left:57px;
  top:167px;
  width:361px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
