body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2225px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u13 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u14 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u15 {
  position:absolute;
  left:950px;
  top:50px;
  width:375px;
  height:667px;
}
#u16 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u17 {
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u18 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19 {
  position:absolute;
  left:1850px;
  top:50px;
  width:375px;
  height:667px;
}
#u20 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u21 {
  position:absolute;
  left:1400px;
  top:50px;
  width:375px;
  height:667px;
}
#u22 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u23 {
  position:absolute;
  left:500px;
  top:800px;
  width:375px;
  height:667px;
}
#u24 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u25 {
  position:absolute;
  left:950px;
  top:800px;
  width:375px;
  height:667px;
}
#u26 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u27 {
  position:absolute;
  left:1400px;
  top:800px;
  width:375px;
  height:667px;
}
#u28 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
