body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2675px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u162 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u163 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u164 {
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u165 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u166 {
  position:absolute;
  left:950px;
  top:50px;
  width:375px;
  height:667px;
}
#u167 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u168 {
  position:absolute;
  left:1400px;
  top:50px;
  width:375px;
  height:667px;
}
#u169 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u170 {
  position:absolute;
  left:1850px;
  top:50px;
  width:375px;
  height:667px;
}
#u171 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u172 {
  position:absolute;
  left:500px;
  top:24px;
  width:253px;
  height:16px;
  color:#FF0000;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u174 {
  position:absolute;
  left:2300px;
  top:50px;
  width:375px;
  height:667px;
}
#u175 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u176 {
  position:absolute;
  left:2300px;
  top:24px;
  width:225px;
  height:16px;
  color:#FF0000;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
