body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u259 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u260 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u261 {
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u262 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u263 {
  position:absolute;
  left:950px;
  top:50px;
  width:375px;
  height:667px;
}
#u264 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u265 {
  position:absolute;
  left:1400px;
  top:50px;
  width:375px;
  height:667px;
}
#u266 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
