body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u106 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u107 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u108 {
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u109 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u110 {
  position:absolute;
  left:950px;
  top:50px;
  width:375px;
  height:667px;
}
#u111 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
