body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:679px;
}
#u338 {
  position:absolute;
  left:50px;
  top:50px;
  width:370px;
  height:679px;
}
#u339 {
  position:absolute;
  left:2px;
  top:332px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340 {
  position:absolute;
  left:63px;
  top:127px;
  width:256px;
  height:381px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
