<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riking.calendar">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="com.riking.calendar.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/sample_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.RealmIntroActivity" />
        <activity
            android:name=".activity.NoActionBarActivity"
            android:theme="@style/AppThemeNoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity android:name=".activity.DrawerActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity
            android:name=".activity.CoordinateLayoutActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.CommonTabActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".activity.CustomBehaviorActivity"/>

        <service
            android:name=".service.AlarmService"
            android:enabled="true"
            android:process="system" />
    </application>

</manifest>