body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u277 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u278 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:156px;
  top:445px;
  width:164px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u280 {
  position:absolute;
  left:50px;
  top:670px;
  width:87px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u281 {
  position:absolute;
  left:147px;
  top:670px;
  width:87px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u282 {
  position:absolute;
  left:241px;
  top:670px;
  width:87px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u283 {
  position:absolute;
  left:338px;
  top:670px;
  width:87px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
