<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<string>0</string>
	<key>constant</key>
	<dict>
		<key>app_main_color</key>
		<string>#29a1f7</string>
		<key>tabbar_title_color</key>
		<string>#29a1f7</string>
		<key>navigationBar_Tintcolor</key>
		<string>#1B82D2</string>
		<key>navigationTitleTextColor</key>
		<string>#FFFFFF</string>
		<key>view_backgroundColor</key>
		<string>#F2F2F2</string>
		<key>line_lightgrey_color</key>
		<string>#d9d9d9</string>
		<key>normalText_main_color</key>
		<string>#323232</string>
		<key>selectText_main_color</key>
		<string>#29a1f7</string>
		<key>lightText_color</key>
		<string>#929292</string>
		<key>whiteColor</key>
		<string>#FFFFFF</string>
		<key>receipe_text</key>
		<real>4294967295</real>
	</dict>
	<key>detail</key>
	<string>默认</string>
	<key>id</key>
	<integer>1</integer>
	<key>name</key>
	<string>classic</string>
	<key>predefine</key>
	<true/>
	<key>res</key>
	<dict>
		<key>tabbar_normalImage_0</key>
		<string></string>
		<key>tabbar_normalImage_1</key>
		<string></string>
		<key>tabbar_normalImage_2</key>
		<string></string>
		<key>tabbar_normalImage_3</key>
		<string></string>
		<key>tabbar_selectImage_0</key>
		<string></string>
		<key>tabbar_selectImage_1</key>
		<string></string>
		<key>tabbar_selectImage_2</key>
		<string></string>
		<key>tabbar_selectImage_3</key>
		<string></string>
		<key>navigationBar_itemIcon_back</key>
		<string></string>
		<key>navgationBar_bgImage</key>
		<string></string>
		<key>navigationBar_itemIcon_add</key>
		<string></string>
	</dict>
	<key>resolution</key>
	<string>640*960</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
