body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u130 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u131 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u132 {
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u133 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u134 {
  position:absolute;
  left:950px;
  top:50px;
  width:375px;
  height:667px;
}
#u135 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u136 {
  position:absolute;
  left:500px;
  top:24px;
  width:281px;
  height:16px;
  color:#FF0000;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u138 {
  position:absolute;
  left:50px;
  top:24px;
  width:197px;
  height:16px;
  color:#FF0000;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u140 {
  position:absolute;
  left:50px;
  top:800px;
  width:375px;
  height:667px;
}
#u141 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u142 {
  position:absolute;
  left:50px;
  top:774px;
  width:169px;
  height:16px;
  color:#FF0000;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
