body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u273 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u274 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
