body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u384 {
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u385 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u386 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u387 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388 {
  position:absolute;
  left:65px;
  top:252px;
  width:341px;
  height:241px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u389 {
  position:absolute;
  left:65px;
  top:590px;
  width:341px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u390 {
  position:absolute;
  left:513px;
  top:202px;
  width:347px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u391 {
  position:absolute;
  left:513px;
  top:364px;
  width:347px;
  height:171px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u392 {
  position:absolute;
  left:513px;
  top:546px;
  width:347px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u393 {
  position:absolute;
  left:513px;
  top:668px;
  width:347px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
