body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u112 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u113 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u114 {
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u115 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u116 {
  position:absolute;
  left:950px;
  top:50px;
  width:375px;
  height:667px;
}
#u117 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
