@charset "utf-8";
header{
	background-color: #393D49;
}
header ul{
	width:1200px;
	margin:0 auto;
}
header .layui-nav .layui-nav-item{
	line-height:40px;
}
header .layui-nav .layui-nav-more{
	top:18px;
}
header .layui-nav .layui-nav-mored{
	top:13px;
}
header .layui-nav-child{
	top:43px;
}
.content{
	width:1200px;
	margin:10px auto 40px;
}
.content .indexes{
	padding:0 0 10px;
}
.content .layui-elem-field{
	padding:8px 20px 5px;
	margin-bottom: 0px;
	background: #f2f2f2;
}
.content .group-button{
	margin-top: 5px;
}
.content .layui-form-search{
	margin-bottom:0px;
}
.content .layui-unselect{
	position:relative;
}
.content .search-term{
	position:absolute;
	top:45px;
	right:0px;
	width:390px;
	padding:20px 20px 10px 0px;
	border: 1px solid #e6e6e6;
    background-color: #fff;
	z-index:9999;
	display:none;
}
:root .layui-form-selected .layui-edge {
    margin-top: -9px\0/IE9;
}
.layui-form-selected-l .layui-edge-a {
    margin-top: -9px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -3px\9;
}
.content .layui-form-selected-l .search-term {
    display: block;
}
.layui-form-selected-l .search-term, .layui-nav-child {
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
}
.content .contentLeft{
	float:left;
	width:70%;
}
.content .contentLeft table th,.content .contentLeft table td  {
	 padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
 

.content .contentLeft table td.operate { text-align:center;}
.content .contentLeft table td.operate a{ color:#667176; text-decoration:none; margin:0 5px;}
.content .contentLeft table td.operate a:hover{color:#333; font-weight:700; text-decoration:underline;}
.content .contentRight{
	position:relative;
	float:right;
	width:30%;
	margin: 10px 0;
	box-sizing:border-box;
	border: 1px solid #e2e2e2;

	overflow:hidden;
}
.content .contentRight .text{
	position:absolute;
	top:41px;
	left:0;
	padding: 20px 30px 20px 0;
	line-height:24px;
}
.content .contentRight .text .layui-input-block{
	line-height:24px;
	color:#a9a9a9;
}
.content .contentRight .text .layui-input-block p{
	padding:7px 0;
}
.content .contentRight .title{
	width:100%;
	height:40px;
	line-height:40px;
	background:#f2f2f2;
	border-bottom:1px solid #e2e2e2;
}
.content .contentRight .title h3{
	float:left;
	margin-left:15px;
	font-size:15px;
	color:#000;
	font-weight:700;
}
.content .contentRight .title .operate{
	float:right;
	margin-right:10px;
}
.content .contentRight .title .operate .layui-form-switch{
	margin: 0px 10px 0 0;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*----分页------*/
.page{ margin-top:5px; width:100%;}
.page .layui-input{
	height:30px;
	line-height:30px;
	margin:10px 0;
	font-size:14px;
}
.page .layui-form-item .layui-input-inline{
	width:110px;
}