@charset "utf-8";

/* 面板 */
/* 登录面板 */
.layui-main-user {
	width: 450px;
	min-height: 200px;
	position: fixed;
	left: 50%;
    top: 50%;
	margin-top: -260px;
	margin-left: -277px;
}

.reg {
	padding-top: 5px;
}
.layui-main-user .top{
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
}
.layui-main-user .top img{
    width: auto;
    height: 50px;
}
.layui-main-user .top span{
    margin-left: 20px;
    font-size: 22px;
    vertical-align:middle;
}
.layui-main-user .main {
	padding: 1rem 3.25rem 1.2rem;
	background: #fff;
	margin: 0 auto;
	max-width: 450px;
	width: 100%;
	z-index: 5;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	transition-duration: .3s
}

.layui-main-user .page-title {
	position: relative;
	font-size: 18px;
	margin: 0 0 30px;
	padding: 10px 15px;
	line-height: 30px;
	border-bottom: 1px solid #DFDFDF
}

.layui-main-user .page-title a {
	float: right;
	font-size: 14px;
	color: #f30;
}

.layui-main-user .tk input {
	display: inline-block;
}

.layui-main-user .tk .layui-form-checkbox {
	display: none;
}

.layui-main-user .layui-form-item .layui-form-checkbox[lay-skin=primary] {
	margin: 0;
}