@charset "utf-8";

.wrap {
	position: relative;
	width: 95%;
	min-width: 1000px;
	margin: 0 auto;
	min-height: 0;
}
/* 头部 */

.header {
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #08c;
}

.header .firstMenu{
	float: left;
	margin:10px 5px;
	border-right:1px solid #fff;
}
.firstMenu .layui-form-select .layui-edge{
	background:url(../images/menu.png) no-repeat;
	width: 20px;
    height:20px;
	border:0;
	top: 2px;
    left: 8px;
}
.firstMenu .layui-form-selected .layui-edge{
	 margin-top: -3px;
}
.firstMenu .layui-form-selected .layui-edge{
	 margin-top: -3px;
}
.firstMenu .layui-form-select .layui-input{
	border: 0;
	background: none;
    min-width: 70px;
	max-width: 150px;
	padding-right: 0;
	padding-left: 32px;
	font-size: 16px;
	color: #fff;
}
.firstMenu .layui-input{
	height: 20px;
	line-height: 20px;
}
.header .nav-left {
	float: left;
}

.header .nav-left  ul.layui-nav {
	float: left;
	background:none;
}

.header .nav-left .layui-nav .layui-nav-item {
	line-height: 40px;
}

.header .nav-left  .layui-nav .layui-nav-item a {
	display: inline-block;
	font-size: 14px;
	color: #efefef;
}

.header .nav-left .layui-nav .layui-nav-child dd {
	float: left;
	width: 160px;
	padding: 0 10px;
	margin: 0 20px;
}

.header .nav-left .layui-nav .layui-nav-child dd:last-child {
	border-bottom: 0;
}

.header .nav-left .layui-nav .layui-nav-child .div-item {
	padding: 0 0 10px;
	margin: 5px 0 20px;
	border-bottom: 1px solid #666;
}

.header .nav-left .layui-nav .layui-nav-item dd p {
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	color: #333;
	font-weight: 700;
}

.header .nav-left .layui-nav .layui-nav-item dd a {
	font-size: 12px;
	color: #666;
	line-height: 24px;
	padding: 0 10px;
}

.header .nav-left .layui-nav .layui-nav-child a:hover {
	background: #007dbb;
	color: #fff;
}

.header .nav-left .layui-nav-child dd.layui-this {
	background: none;
	color: none;
}

.header .nav-left .layui-nav .layui-nav-item dd ul {
	width: 100%;
	margin-left: 10px;
	overflow: hidden;
}

.header .nav-left .layui-nav .layui-nav-item dd ul li {
	display: block;
	width: 160px;
	float: left;
	line-height: 30px;
	word-break: break-all;
	word-wrap: break-word;
}

.header .layui-nav .layui-nav-more {
	top: 18px;
	border-color: #efefef transparent transparent;
}

.header .layui-nav .layui-nav-mored {
	top: 13px;
	border-color: transparent transparent #efefef;
}

.header .nav-left .layui-nav-child {
	position: fixed;
	max-width: 1100px;
	min-width: 120px;
	max-height: 500px;
	top: 43px;
	background: #fff;
	background-color: rgba(255, 255, 255, 0.95);
	padding-bottom: 30px;
	overflow-y: auto;
	white-space: normal;
}

.header .nav-right {
	float: right;
}

.header .nav-right  ul.layui-nav {
	background-color: #08c;
}

.header .nav-right .layui-nav .layui-nav-item {
	line-height: 40px;
}

.header .nav-right  .layui-nav .layui-nav-item a {
	display: inline-block;
	font-size: 15px;
	color: #efefef;
}

.header .nav-right  .layui-nav .layui-nav-child dd a {
	display: block;
	font-size: 14px;
	color: #333;
}

.header .nav-right .layui-nav-child {
	min-width: 140px;
	max-width: 140px;
	top: 43px;
	right: 0;
	left: auto;
}

.header .nav-right .layui-nav-child dd.layui-this {
	background: none;
}

.header .nav-right .layui-nav a i {
	top: 2px;
	padding-right: 5px;
	font-size: 18px;
	color: #333;
}

.header .nav-right .layui-nav a i.icon-tuichu {
	top: -1px;
	font-size: 18px;
}

.header .nav-right .nav {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
}

.header .nav-right .nav span {
	font-size: 12px;
	color: #fff;
}

.nav-user {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	margin-right: 5px;
	font-size: 12px;
	color: #fff;
}

.nav-user {
	position: relative;
}

.icon-touxiang {
	display: inline-block;
	color: #fff;
	font-size: 30px;
}

.header .logo {
	height: 40px;
	line-height: 40px;
}

.header .logo img {
	width: 135px;
	height: 37px;
}

.header .logo span {
	margin-left: 20px;
	color: #fff;
}
/* 底部 */
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 50px 0 0;
	background: #fff;
	padding: 10px 0;
	line-height: 30px;
	text-align: center;
	color: #737573;
	border-top: 1px solid #e2e2e2;
}

.footer a {
	padding: 0 6px;
	font-weight: 300;
	color: #333;
}

.footer a:hover {
	color: #777;
}
/* main容器 */
.mainContent {
	width: 100%;
	height: auto;
	margin: 60px auto 80px;
}

