body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u65 {
  position:absolute;
  left:950px;
  top:50px;
  width:375px;
  height:667px;
}
#u66 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:808px;
}
#u67 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:808px;
}
#u68 {
  position:absolute;
  left:2px;
  top:396px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u69 {
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u70 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
